*.class

# Package Files #
*.jar
*.war
*.ear

.DS_Store
.idea
.gradle
*/.gradle
*/.gradle/*

build/*
*/build
*/build/*


*.iml
*.ipr
*iws

w02-calculator/build/*
w02-calculator/.gradle/*
w02-calculator/*.iml
w02-calculator/*.ipr
w02-calculator/*iws
